.header
{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10%;
    background-color: darkblue;
    text-align: center;
}
p
{
    margin-left: 20px;
}
.head_two
{
    align-self: center;
}
ul,
li,
a
{
    color: white;
    text-decoration: none;
    gap: 8px;
    list-style-type: none;
    margin: 8px;
}
li
{
    display: flex;
    gap: 20px;
    font-size: 22px;
}
.image_placeholder
{
    height: 300px;
    width: 400px;
    margin: 20px;
}
#dipak
{
    height: 250px;
    width: 300px;
}
#sign
{
    background-color: lightblue;
}



.one
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
    align-items: center;
    padding: 2%;
}
.framework
{
    display: flex;
    gap: 18px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.two 
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    background-color: aquamarine;
    padding: 20px;
}
.references
{
    align-self:flex-end;
}

.three
{
    display: flex;
    justify-content:flex-end;
    /* background-color: rgb(64, 2, 179); */
    /* color: white; */
    padding: 20px;
}
.action
{
    /* background-color: white; */
    padding: 20px;
    border-radius: 20%;
    background-color: rgb(64, 2, 179);
    color:white;
}
.hire
{
    display: flex;
    gap: 10px;
}
.on
{
    margin: 10px 20px 10px 20px;
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
    width: 90px;
    border-color: aliceblue;
}
.footer
{
    background-color: brown;
    padding: 20px;
    display: flex;
    justify-content: center;
}
ul
{
    display: flex;
    gap:10px;
}